In [8]:
# Import Data
import pandas as pd
import numpy as np
from pandas_datareader import data, wb

In [18]:
# Concat All Compaines

def build_stock_df(company_tickers):
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company_name', 'Company_ticker', 'Field', 'Dis_dep']
    ldfs = []
    for (ticker, company_name, field, dis_dep) in zip(company_tickers, company_names, fields, dis_deps):
        file_name = ticker + ' Historical Prices.csv'
        company_frame = pd.read_csv(file_name, index_col = False, skiprows= [0], parse_dates= ['Date'])
        company_frame['Company_ticker'] = ticker
        company_frame['Company_name']= company_name
        company_frame['Field'] = field
        company_frame['Dis_category'] = dis_dep
        ldfs.append(company_frame)
    return(pd.concat(ldfs, ignore_index=True))

company_tickers = ['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BOALF', 'BT', 'CBS', 'FUN', 'CCO', 'KO', 'CMCSA', 'DISCA', \
                   'EA', 'FL', 'GLOB', 'GOOGL', 'HSY', 'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG', 'PTSXQ', 'SEAS', 'SBGI',\
                   'SIX', 'SNE', 'SBUX', 'TGT', 'TWX', 'TSN', 'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD', 'DIS']
company_names = ['21st Century Fox', 'Amazon', 'AMC Networks Inc ', 'America Airline', 'AT&T', 'Boral Ltd', 'BT Group', 'CBS ', 'Cedar Fair Entertainment Company', \
                 'Clear Channel Outdoor Holdings Inc', 'Coca-Cola', 'Comcast', 'Discovery Communications Inc ', 'Electronic Arts Inc', \
                 'Footlocker', 'Globant', 'Google', 'Hershey ', 'Imax Corp ', 'Kelloggs', "McDonald's", 'Microsoft', 'Netflix', 'Nike', \
                 'Nokia', 'Philip Morris', 'Philips_NV_ADR', 'Point.360', 'SeaWorld Parks & Entertainment', 'Sinclair Broadcast Group Inc', \
                 'Six Flags Entertainment Corporation', 'Sony', 'Starbucks', 'Target', 'Time Warner', 'Tyson Foods', 'Verizon ', 'Viacom', \
                 'Nvidia', 'Intel', 'AMD', 'Disney']
fields = ['Studio', 'Consumer Product', 'Studio', 'Transportation', 'Telecom Services', 'Construction', 'Telecom Services', 'Media'\
          , 'Parks', 'Media', 'Consumer Product', 'Studio', 'Media', 'Gaming', 'Consumer Product', 'Information Technology Service',\
          'Internet Content & Information', 'Consumer Product', 'Media ', 'Consumer Product', 'Resort', 'Software - Infrastructure',\
          'Media', 'Consumer Product', 'Communication Equipment', 'Consumer Product', 'Consumer Product', 'Media', 'Parks', 'Media',\
          'Parks', 'Studio', 'Consumer Product', 'Consumer Product', 'Studio', 'Consumer Product', 'Media', 'Studio', 'Gaming',\
          'Gaming', 'Gaming', 'Disney']
dis_deps = ['Studio Entertainment', 'Consumer Products & Interactive Media', 'Studio Entertainment', 'Parks and Resorts',\
           'Media Networks', 'Parks and Resorts', 'Media Networks', 'Media Networks', 'Parks and Resorts', 'Media Networks',\
           'Consumer Products & Interactive Media', 'Studio Entertainment', 'Media Networks', \
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', 'Media Networks', 'Media Networks',\
           'Consumer Products & Interactive Media', 'Media Networks', 'Consumer Products & Interactive Media',\
           'Parks and Resorts', 'Media Networks', 'Media Networks', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', \
           'Consumer Products & Interactive Media', 'Media Networks', 'Parks and Resorts', 'Media Networks',\
           'Parks and Resorts', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Media Networks', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', 'Disney']
company_stock = build_stock_df(company_tickers)
print(company_stock.head())
#print(company_stock.tail())

        Date   Open   High    Low  Close     Volume Company_ticker  \
0 2017-10-24  26.62  26.70  26.21  26.23  5,339,512           FOXA
1 2017-10-23  27.51  27.57  26.64  26.69  5,644,300           FOXA
2 2017-10-20  27.55  27.64  27.31  27.50  8,879,892           FOXA
3 2017-10-19  27.07  27.41  26.96  27.37  5,743,185           FOXA
4 2017-10-18  26.96  27.39  26.84  27.18  8,363,299           FOXA

       Company_name   Field          Dis_category
0  21st Century Fox  Studio  Studio Entertainment
1  21st Century Fox  Studio  Studio Entertainment
2  21st Century Fox  Studio  Studio Entertainment
3  21st Century Fox  Studio  Studio Entertainment
4  21st Century Fox  Studio  Studio Entertainment
            Date   Open   High    Low  Close      Volume Company_ticker  \
88234 2007-11-26  31.91  31.96  31.20  31.24   7,337,602            DIS
88235 2007-11-23  31.65  31.90  31.65  31.90   3,549,134            DIS
88236 2007-11-21  31.35  31.70  31.12  31.50   8,661,332            DIS
88237 2007-11-20  31.47  31.89  31.02  31.55   9,426,619            DIS
88238 2007-11-19  32.26  32.30  31.15  31.25  14,612,017            DIS

      Company_name   Field Dis_category
88234       Disney  Disney       Disney
88235       Disney  Disney       Disney
88236       Disney  Disney       Disney
88237       Disney  Disney       Disney
88238       Disney  Disney       Disney

In [10]:
# Checking data type
# print(type(company_stock.Volume))
# type(company_stock.Volume[0])

<class 'pandas.core.series.Series'>

str

In [19]:

#company_stock['Volume1'] = pd.to_numeric(company_stock.Volume, errors='ignore')

company_stock["Volume"] = company_stock.Volume.apply(lambda x: float(x.replace("ï¿½", "0").replace(",","").replace('???','0')))

company_stock.head()

,Date,Open,High,Low,Close,Volume,Company_ticker,Company_name,Field,Dis_category
0,2017-10-24,26.62,26.70,26.21,26.23,5339512.0,FOXA,21st Century Fox,Studio,Studio Entertainment
1,2017-10-23,27.51,27.57,26.64,26.69,5644300.0,FOXA,21st Century Fox,Studio,Studio Entertainment
2,2017-10-20,27.55,27.64,27.31,27.50,8879892.0,FOXA,21st Century Fox,Studio,Studio Entertainment
3,2017-10-19,27.07,27.41,26.96,27.37,5743185.0,FOXA,21st Century Fox,Studio,Studio Entertainment
4,2017-10-18,26.96,27.39,26.84,27.18,8363299.0,FOXA,21st Century Fox,Studio,Studio Entertainment

In [20]:
#Check volumn = 0
ab = company_stock[(company_stock.Volume == 0)]

In [21]:
#Double check the data type
company_stock.dtypes

Date              datetime64[ns]
Open                     float64
High                     float64
Low                      float64
Close                    float64
Volume                   float64
Company_ticker            object
Company_name              object
Field                     object
Dis_category              object
dtype: object

In [14]:
company_stock.to_csv('company_stock.csv', index= False)

In [15]:
sp = pd.read_csv('company_stock.csv')
list(sp)

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Company_ticker',
 'Company_name',
 'Field']

In [16]:
sp.Field.unique()

array(['Studio', 'Consumer Product', 'Transportation', 'Telecom Services',
       'Construction', 'Media', 'Parks', 'Gaming',
       'Information Technology Service', 'Internet Content & Information',
       'Media ', 'Resort', 'Software - Infrastructure',
       'Communication Equipment', 'Disney'], dtype=object)

In [17]:
sp.Company_ticker.unique()

array(['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BOALF', 'BT', 'CBS', 'FUN',
       'CCO', 'KO', 'CMCSA', 'DISCA', 'EA', 'FL', 'GLOB', 'GOOGL', 'HSY',
       'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG',
       'PTSXQ', 'SEAS', 'SBGI', 'SIX', 'SNE', 'SBUX', 'TGT', 'TWX', 'TSN',
       'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD', 'DIS'], dtype=object)