In [88]:
# Import Data
import pandas as pd
import numpy as np
from pandas_datareader import data, wb

In [89]:
# Concat All Compaines

def build_stock_df(company_tickers):
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company_name', 'Company_ticker', 'Field', 'Dis_dep']
    ldfs = []
    for (ticker, company_name, field, dis_dep) in zip(company_tickers, company_names, fields, dis_deps):
        file_name = ticker + ' Historical Prices.csv'
        company_frame = pd.read_csv(file_name, index_col = False, skiprows= [0], parse_dates= ['Date'])
        company_frame['Company_ticker'] = ticker
        company_frame['Company_name']= company_name
        company_frame['Field'] = field
        company_frame['Dis_category'] = dis_dep
        ldfs.append(company_frame)
    return(pd.concat(ldfs, ignore_index=True))

company_tickers = ['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BOALF', 'BT', 'CBS', 'FUN', 'CCO', 'KO', 'CMCSA', 'DISCA', \
                   'EA', 'FL', 'GLOB', 'GOOGL', 'HSY', 'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG', 'PTSXQ', 'SEAS', 'SBGI',\
                   'SIX', 'SNE', 'SBUX', 'TGT', 'TWX', 'TSN', 'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD', 'DIS']
company_names = ['21st Century Fox', 'Amazon', 'AMC Networks Inc ', 'America Airline', 'AT&T', 'Boral Ltd', 'BT Group', 'CBS ', 'Cedar Fair Entertainment Company', \
                 'Clear Channel Outdoor Holdings Inc', 'Coca-Cola', 'Comcast', 'Discovery Communications Inc ', 'Electronic Arts Inc', \
                 'Footlocker', 'Globant', 'Google', 'Hershey ', 'Imax Corp ', 'Kelloggs', "McDonald's", 'Microsoft', 'Netflix', 'Nike', \
                 'Nokia', 'Philip Morris', 'Philips_NV_ADR', 'Point.360', 'SeaWorld Parks & Entertainment', 'Sinclair Broadcast Group Inc', \
                 'Six Flags Entertainment Corporation', 'Sony', 'Starbucks', 'Target', 'Time Warner', 'Tyson Foods', 'Verizon ', 'Viacom', \
                 'Nvidia', 'Intel', 'AMD', 'Disney']
fields = ['Studio', 'Consumer Product', 'Studio', 'Transportation', 'Telecom Services', 'Construction', 'Telecom Services', 'Media'\
          , 'Parks', 'Media', 'Consumer Product', 'Studio', 'Media', 'Gaming', 'Consumer Product', 'Information Technology Service',\
          'Internet Content & Information', 'Consumer Product', 'Media ', 'Consumer Product', 'Resort', 'Software - Infrastructure',\
          'Media', 'Consumer Product', 'Communication Equipment', 'Consumer Product', 'Consumer Product', 'Media', 'Parks', 'Media',\
          'Parks', 'Studio', 'Consumer Product', 'Consumer Product', 'Studio', 'Consumer Product', 'Media', 'Studio', 'Gaming',\
          'Gaming', 'Gaming', 'Disney']
dis_deps = ['Studio Entertainment', 'Consumer Products & Interactive Media', 'Studio Entertainment', 'Parks and Resorts',\
           'Media Networks', 'Parks and Resorts', 'Media Networks', 'Media Networks', 'Parks and Resorts', 'Media Networks',\
           'Consumer Products & Interactive Media', 'Studio Entertainment', 'Media Networks', \
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', 'Media Networks', 'Media Networks',\
           'Consumer Products & Interactive Media', 'Media Networks', 'Consumer Products & Interactive Media',\
           'Parks and Resorts', 'Media Networks', 'Media Networks', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', \
           'Consumer Products & Interactive Media', 'Media Networks', 'Parks and Resorts', 'Media Networks',\
           'Parks and Resorts', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Media Networks', 'Studio Entertainment', 'Consumer Products & Interactive Media',\
           'Consumer Products & Interactive Media', 'Consumer Products & Interactive Media', 'Disney']
company_stock = build_stock_df(company_tickers)
print(company_stock.head())
#print(company_stock.tail())

        Date   Open   High    Low  Close     Volume Company_ticker  \
0 2017-10-24  26.62  26.70  26.21  26.23  5,339,512           FOXA
1 2017-10-23  27.51  27.57  26.64  26.69  5,644,300           FOXA
2 2017-10-20  27.55  27.64  27.31  27.50  8,879,892           FOXA
3 2017-10-19  27.07  27.41  26.96  27.37  5,743,185           FOXA
4 2017-10-18  26.96  27.39  26.84  27.18  8,363,299           FOXA

       Company_name   Field          Dis_category
0  21st Century Fox  Studio  Studio Entertainment
1  21st Century Fox  Studio  Studio Entertainment
2  21st Century Fox  Studio  Studio Entertainment
3  21st Century Fox  Studio  Studio Entertainment
4  21st Century Fox  Studio  Studio Entertainment

In [90]:
# Checking data type
# print(type(company_stock.Volume))
# type(company_stock.Volume[0])

In [91]:
# Transfer Volumn to float
company_stock["Volume"] = company_stock.Volume.apply(lambda x: float(x.replace("ï¿½", "0").replace(",","").replace('???','0')))

company_stock.head()

,Date,Open,High,Low,Close,Volume,Company_ticker,Company_name,Field,Dis_category
0,2017-10-24,26.62,26.70,26.21,26.23,5339512.0,FOXA,21st Century Fox,Studio,Studio Entertainment
1,2017-10-23,27.51,27.57,26.64,26.69,5644300.0,FOXA,21st Century Fox,Studio,Studio Entertainment
2,2017-10-20,27.55,27.64,27.31,27.50,8879892.0,FOXA,21st Century Fox,Studio,Studio Entertainment
3,2017-10-19,27.07,27.41,26.96,27.37,5743185.0,FOXA,21st Century Fox,Studio,Studio Entertainment
4,2017-10-18,26.96,27.39,26.84,27.18,8363299.0,FOXA,21st Century Fox,Studio,Studio Entertainment

In [92]:
# # Replace white space with _ Fall
# #company_stock.iloc[:, 7:] = [x.strip().replace(' ', '_') for x in company_stock.iloc[:, 7:]]
# company_stock.Company_name = company_stock.Company_name.str.replace('\s+', '_')

# company_stock.iloc[:, 7:].apply(lambda x: x.str.strip()).replace('\s+', '_')
# # df.replace('\s+', '_',regex=True,inplace=True)
# # pd.DataFrame(data = a)
# #pd.DataFrame(data = c)
# company_stock.head()

In [93]:
company_stock.Company_name = company_stock.Company_name.str.replace('\s+', '_')
company_stock.Field = company_stock.Field.str.replace('\s+', '_')
company_stock.Dis_category = company_stock.Dis_category.str.replace('\s+', '_')

In [95]:
company_stock.to_csv('company_stock.csv', index= False)

In [96]:
# Reveiw columns & Dis_category
company_stock.Company_ticker.unique()
print(list(company_stock))
company_stock.Dis_category.unique()

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company_ticker', 'Company_name', 'Field', 'Dis_category']

array(['Studio_Entertainment', 'Consumer_Products_&_Interactive_Media',
       'Parks_and_Resorts', 'Media_Networks', 'Disney'], dtype=object)

### Amy's Part Starts 
_______________________________________________________________________________________________________________________________

In [97]:
# Slice datas for useage: amy_sub, amy_sub_close, amy_sub_close_media, amy_sub_close_park & resotr

amy_sub = company_stock.query("Dis_category != 'Studio_Entertainment'").query("Dis_category != 'Consumer_Products_&_Interactive_Media'")
amy_sub_close = amy_sub[['Date', 'Close', 'Company_name', 'Dis_category']]
amy_sub_close_media = amy_sub_close.query('Dis_category == "Media_Networks"')
amy_sub_close_pr = amy_sub_close.query('Dis_category == "Parks_and_Resorts"')

amy_sub_close_media.tail()

            Date  Close Company_name    Dis_category
75359 2010-01-08  29.68     Verizon_  Media_Networks
75360 2010-01-07  29.67     Verizon_  Media_Networks
75361 2010-01-06  29.84     Verizon_  Media_Networks
75362 2010-01-05  31.17     Verizon_  Media_Networks
75363 2010-01-04  31.11     Verizon_  Media_Networks

In [98]:
# Select time range and replace NA with O
amy_sub_close_media = amy_sub_close_media.pivot(index = 'Date', columns='Company_name', values = 'Close').ix['2010-01-01': '2010-10-24'].fillna(0)
amy_sub_close_pr = amy_sub_close_pr.pivot(index = 'Date', columns='Company_name', values = 'Close').ix['2010-01-01': '2010-10-24'].fillna(0)

In [99]:
amy_sub_close_media.tail()

Company_name,AT&T,BT_Group,CBS_,Clear_Channel_Outdoor_Holdings_Inc,Discovery_Communications_Inc_,Globant,Google,Imax_Corp_,Microsoft,Netflix,Point.360,Sinclair_Broadcast_Group_Inc,Verizon_
Date,,,,,,,,,,,,,
2010-10-18,28.62,11.93,17.49,11.72,22.11,0.0,309.15,0.0,25.82,21.86,1.41,8.31,32.59
2010-10-19,28.21,11.61,17.12,11.45,21.79,0.0,304.21,0.0,25.10,21.33,0.00,8.19,32.16
2010-10-20,28.61,11.84,17.50,11.42,22.16,0.0,304.28,0.0,25.31,21.88,1.27,8.20,32.64
2010-10-21,28.34,12.28,17.27,11.58,22.17,0.0,306.29,0.0,25.42,24.67,1.27,8.21,32.52
2010-10-22,28.29,12.09,17.18,11.65,22.34,0.0,306.56,0.0,25.38,24.01,0.00,8.14,32.09